# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: AutoUpdate

on:
  schedule:
    - cron: '0 */12 * * *'
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint Test Update
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        python update.py
    - name: Commit and push if changed
      run: |
        git diff
        git config --global user.email "me@monlor.com"
        git config --global user.name "monlor"
        git add README.md
        if git commit -m "Github Action Auto Updated"; then
          echo "updated=true" >> $GITHUB_ENV
          git push
        else
          echo "updated=false" >> $GITHUB_ENV
        fi
    - name: Notification
      uses: monlor/bark-action@v2
      if: ${{ env.updated == 'true' }} 
      with:
        host: ${{ secrets.BARK_HOST}} # not required
        key: ${{ secrets.BARK_KEY }}   # Your secret key
        title: Github Actions
        body: '${{ github.repository }}更新成功！'
        isArchive: 1
        url: 'github://github.com/${{ github.repository }}'
        group: Github
        icon: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png

